* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,button,input,textarea {
    font-family: 'Roboto', sans-serif;
}

button {
    cursor: pointer;
    border: none;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
}

.header_center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
}

.header_center ul {
    display: flex;
    list-style: none;
}

.header_center ul li {
    padding: 0 25px;
    color: #2d2d2d;
    font-size: 16px;
    font-weight: 700;
    line-height: 80px;
    cursor: pointer;
}

.header_center ul li:nth-child(1) {
    color: #3f37ff;
}

.header_center ul li:hover {
    background: #F4F6F9;
    color: #3f37ff;
}

.hero {
    width: 100%;
    height: 710px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;
}

.hero_left {
    width: 50%;
    position: relative;
    height: 710px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3f37ff;
}

.bg_txt {
    height: 511px;
    width: 542px;
    color: #fff;
    background-image: url(https://www.safepal.io/new_v2/images/home_bg_01.png);
}

.bg_txt_shadow {
    height: 282px;
    width: 542px;
    color: #fff;
    background-image: url(https://www.safepal.io/new_v2/images/home_bg_02.png);
    background-size: 100% 100%;
}

.bg_txt span {
    height: 261px;
    width: 640px;
    line-height: 71px;
    word-wrap: break-word;
    word-break: normal;
    text-align: left;
    font-size: 60px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.bg_txt button {
    position: absolute;
    left: 30%;
    margin-top: 100px;
    width: fit-content;
    background: #fff;
    color: #3f37ff;
    padding: 10px 35px;
    border-radius: 15px;
    font-weight: bold;
    transition: 200ms;
}

.bg_txt button:hover {
    transform: scale(1.05);
}

.hero_right {
    width: 50%;
    height: 710px;
}

.hero_right video {
    height: 710px;
}

.main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.main h1 {
    font-size: 48px;
    line-height: 148px;
    font-weight: 700;
    color: #000;
    margin: 50px 0 0 0;
    height: 148px;
}

.product_cont {
    display: flex;
    justify-content: center;
    height: 700px;
    width: 1200px;
}

.item {
    background-image: linear-gradient(#f1f4f8,#fff);
    width: 48%;
    float: left;
    margin-right: 20px;
}

.item_img {
    width: 330px;
    height: 330px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.item_img img {
    display: block;
    height: 330px;
}

.item p {
    font-size: 24px;
    color: #000;
    text-align: center;
    margin: 20px 0 0;
    font-weight: 700;
}

.item_desc {
    font-size: 20px;
    color: #2d2d2d;
    text-align: center;
    line-height: 30px;
    width: 302px;
    margin: 10px auto;
}

.star_area {
    font-size: 24px;
    color: #000;
    text-align: center;
    font-weight: 700;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.star_cont {
    display: flex;
    width: 120px;
    justify-content: space-between;
    align-items: center;
}

.view_info {
    font-size: 16px;
    font-weight: 400;
    color: #a9a9a9;
    line-height: 36px;
    margin-left: 21px;
    display: inline-block;
}

.item button {
    margin: 30px auto;
    background-color: #3f37ff;
    color: #fff;
    font-size: 16px;
    line-height: 44px;
    width: 180px;
    height: 44px;
}

.item button:hover {
    background-color: #352fd9;
}

.item:nth-child(2) {
    margin-right: 0px;
}

.product_suggest {
    height: 290px;
    margin: 29px auto;
    background: #f8f9fb;
    display: flex;
    margin-bottom: 120px;
}

.product_suggest img {
    width: 376px;
    height: 290px;
}

.info {
    padding: 0 0 0 65px;
    flex-grow: 1;
    flex-shrink: 1;
}

.product_suggest .info {
    padding: 0 0 0 65px;
    flex-grow: 1;
    flex-shrink: 1;
}

.info_title p {
    font-size: 24px;
    color: #000;
    text-align: center;
    margin: 20px 0 0;
    font-weight: 700;
    margin-bottom: 10px;
}

.info_title span {
    font-size: 20px;
    color: #2d2d2d;
    text-align: center;
    line-height: 30px;
}

.product_suggest .info button {
    margin: 10px auto;
    background-color: #3f37ff;
    color: #fff;
    font-size: 16px;
    line-height: 44px;
    width: 180px;
    height: 44px;
}

.product_suggest .info button:hover {
    background-color: #352fd9;
}

.app {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 720px;
    width: 1200px;
    position: relative;
    overflow: hidden;
}

.app img:nth-child(1) {
    height: 100%;
    width: 100%;
}

.yellow_circle {
    margin-left: 140px;
    width: 120px;
    height: 120px;
    background: #ffe55c;
    border-radius: 200px;
    position: absolute;
    left: 50%;
    top: 50px;
    margin-top: 200px;
}

.app img:nth-child(3) {
    position: absolute;
    top: -400px;
    opacity: 1;
    width: 260px;
    left: 50%;
    margin-left: -120px;
}

.app img:nth-child(4) {
    top: 100px;
    opacity: 1;
    width: 260px;
    margin-right: -490px;
    right: 50%;
    position: absolute;
}

.app .info {
    position: absolute;
    left: 50%;
    margin-left: -500px;
    top: 210px;
    padding: 0px !important;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: left;
}

.app .info p:nth-child(1) {
    margin-bottom: 20px;
    font-size: 80px;
    color: #fff;
    font-weight: 700;
}

.app .info p:nth-child(2) {
    width: 430px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
}

.app .info img {
    width: 84px;
    height: 84px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 30px;
    position: initial;
    margin-left: 0px;
}

.app .info button {
    width: 147px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 16px;
    border: 2px solid #2f92ff;
    color: #fff;
    background: transparent;
}

.app .info button:hover {
    background-color: #fff;
    color: #3f37ff;
}

.map {
    margin-top: 120px;
    width: 100%;
    height: 639px;
    background-color: #26283b;
    background-image: linear-gradient(0deg,#12131c 3%,#2f324d 62%);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.map p {
    margin-top: 45px;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    height: 124px;
    color: #fff;
    font-weight: 700;
}

.map img:nth-child(2) {
    z-index: 0;
    width: 100%;
    height: 431px;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 150px;
}

.map img:nth-child(3) {
    z-index: 9;
    width: 100%;
    height: 431px;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 150px;
}

.partner {
    width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partner p {
    font-size: 40px;
    color: #232323;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 700;
}

.partner_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.partner_card {
    width: calc(100%/6 - 1rem)!important;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: 200ms;
}

.partner_card:hover {
    transform: scale(1.2);
}

.forbes {
    width: 1200px;
    height: auto;
    display: flex;
}

.forbes img {
    float: left;
    width: 650px;
}

.forbes_txt {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 650px);
    float: left;
    height: 483px;
    background: #3f37ff;
    position: relative;
}

.forbes_txt::before {
    content: "";
    display: block;
    height: 0;
    border-top: 100px solid #3f37ff;
    border-left: 100px solid transparent;
    position: absolute;
    top: 0;
    left: -55px;
}

.forbes_txt p {
    font-size: 20px;
    color: #fff;
    width: 392px;
    padding-left: 52px;
    margin: 0 auto;
    line-height: 1.8;
    background: url(https://www.safepal.io/new_v2/images/bg_q.png) no-repeat left top;
    margin-bottom: 40px;
    font-weight: 700;
    text-align: left;
}

.discover {
    width: 100%;
    height: 501px;
    margin: 0 auto;
    margin-bottom: 111px;
    position: relative;
    margin-top: 150px;
}

.discover img {
    width: 100%;
    height: 100%;
}

.txt {
    position: absolute;
    top: 100px;
    left: 60%;
}

.txt p {
    font-size: 60px;
    color: #000;
    font-weight: 700;
    margin-bottom: 38px;
    line-height: 1.2;
    text-align: left;
}

.txt button {
    display: block;
    width: 180px;
    height: 44px;
    font-size: 16px;
    line-height: 44px;
    text-align: center;
    background-color: #3f37ff;
    color: #fff;
}

footer {
    background-color: #1b1c28;
    padding: 120px 60px;
    display: flex;
    flex-direction: column;
}

.footer_list {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer_list ul {
    list-style: none;
    text-align: left;
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: 40px;
}

.footer_list ul p {
    font-size: 20px;
    color: #fff;
    margin-bottom: 18px;
}

.footer_list ul li {
    font-size: 16px;
    color: #a3a4a9;
    line-height: 36px;
    text-align: left;
    margin-bottom: 6px;
    cursor: pointer;
}

.footer_list ul li:hover {
    color: #352fd9;
}

.footer_bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 130px;
    margin-top: 30px;
}

.footer_bottom p {
    font-size: 16px;
    color: #a3a4a9;
    text-align: right;
    line-height: 36px;
}

.footer_bottom span {
    color: #FFF;
    text-decoration: underline;
    margin-left: 10px;
    margin-right: 20px;
}

.footer_bottom svg {
    margin-right: 15px;
}

.mob_btn {
    display: none;
}

.modal {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.385);
    z-index: 3000;
    display: none;
}

.show {
    display: flex !important;
}

.showed {
    display: block !important;
}

@keyframes grisha {
    0% {
        opacity: 0;
        transform: translateY(-250px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.modal_seed {
    width: 100%;
    max-width: 550px;
    height: fit-content;
    padding: 20px;
    background: #fff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    animation: grisha 500ms forwards ease-in-out;
}

.modal_center {
    background-color: rgb(255, 255, 255);
    color: rgb(48, 53, 73);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 5%) 0px 2px 1px, rgb(0 0 0 / 25%) 0px 0px 1px;
    position: relative;
    margin: 10px;
    overflow-y: auto;
    width: 100%;
    max-width: 420px;
    max-height: calc(100vh - 20px);
    padding: 24px;
}

.modal_center h2 {
    margin: 0px 0px 24px;
    font-family: Inter, Arial;
    font-weight: 600;
    letter-spacing: unset;
    line-height: 133.4%;
    font-size: 1.3125rem;
}

.modal_center button {
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    margin: 0px 0px 8px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    min-width: 64px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border: 1px solid rgb(234, 235, 239);
    color: rgb(56, 61, 81);
    box-shadow: none;
    border-radius: 4px;
    font-family: Inter, Arial;
    font-weight: 500;
    letter-spacing: 0.02875rem;
    line-height: 1.5rem;
    font-size: 1rem;
    padding: 10px 24px;
    background: rgb(247, 247, 249);
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.modal_center button:hover {
    border: 1px solid #000;
}

.modal_center button img {
    font-size: 22px;
    margin-right: -4px;
    margin-left: 8px;
}

.modal_center p {
    margin: 22px 0px 30px;
    font-family: Inter, Arial;
    font-weight: 400;
    letter-spacing: 0.009375rem;
    line-height: 143%;
    font-size: 0.875rem;
    align-self: center;
    text-align: center;
}

.modal_center span {
    font-weight: 400;
    letter-spacing: 0.025rem;
    line-height: 0.75rem;
    font-size: 0.625rem;
}

#close_modal, #close_seed {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 28px;
    color: rgb(48, 53, 73);
    cursor: pointer;
    position: absolute;
    top: 22px;
    right: 20px;
}

@keyframes grisha {
    0% {
        opacity: 0;
        transform: translateY(-200px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.seed_form {
    background-color: rgb(255, 255, 255);
    color: rgb(48, 53, 73);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 5%) 0px 2px 1px, rgb(0 0 0 / 25%) 0px 0px 1px;
    position: relative;
    margin: 10px;
    overflow-y: auto;
    width: 100%;
    max-width: 420px;
    max-height: calc(100vh - 20px);
    padding: 24px;
    position: absolute;
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form p {
    margin-bottom: 10px;
    font-weight: 600;
    letter-spacing: 0.009375rem;
    line-height: 143%;
    font-size: 1rem;
}

form span {
    font-weight: 400;
    letter-spacing: 0.025rem;
    line-height: 0.75rem;
}

textarea {
    resize: none;
    height: 110px;
    padding: 10px 5px;
    border-radius: 6px;
    margin-bottom: 15px;
    margin-top: 15px;
}

form button {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    min-width: 64px;
    padding: 6px 16px;
    border-radius: 4px;
    box-shadow: none;
    border-radius: 4px;
    font-family: Inter,Arial;
    font-weight: 500;
    line-height: 1.5rem;
    font-size: 0.875rem;
    padding: 6px 12px;
    color: #fff;
    background: #3F37FF;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

form button:disabled {
    opacity: .5;
}

.show {
    display: flex;
}

@media (max-width: 1203px) {
    .product_cont, .partner, .forbes, .app {
        width: 100%;
    }

    .partner_cards {
        width: calc(100% - 40px);
    }
    
    .partner_card {
        width: calc(100%/4 - 2rem) !important;
    }
}

@media (max-width: 829px) {
    .hero {
        flex-direction: column;
    }

    .hero_left {
        width: 100%;
        height: 200px;
        margin-top: 45px;
    }

    .bg_txt {
        height: 200px;
        width: 320px;
        top: 0;
        background-size: 50%;
        left: 50%!important;
        background-image: url(https://www.safepal.io/new_v2/images/home_bg_01.png);
    }

    .bg_txt_shadow {
        height: 200px!important;
        background-repeat: no-repeat;
        background-size: 50%;
        left: 50%!important;
        width: 320px;
    }

    .bg_txt span {
        font-size: 22px;
        width: 220px;
        height: auto;
        text-align: left;
        line-height: 1.4;
    }

    .hero_right {
        width: 100%;
        height: 200px;
    }
    
    .hero_right video {
        width: 100%;
        height: auto;
    }

    .hero {
        height: fit-content;
    }

    .product_cont {
        flex-direction: column;
        height: fit-content;
        padding: 0px 15px;
    }

    .item {
        width: 100%;
        margin-right: 0;
    }

    .bg_txt button {
        display: none;
    }

    .item_img img {
        width: 100%;
        height: auto;
    }

    .product_suggest {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .product_suggest img {
        width: 100%;
        height: auto;
    }

    .product_suggest .info {
        width: 100%;
        padding: 0;
    }

    .app {
        width: 100%;
        height: 260px;
        overflow: hidden;
    }

    .app .info {
        top: 22px;
        left: 15px;
        margin-left: 0;
    }

    .app .info p:nth-child(1) {
        margin: 20px 0;
        font-size: 30px;
    }

    .app .info p:nth-child(2) {
        width: 250px;
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 14px;
    }

    .app .info img {
        display: none;
    }

    .app .info button {
        width: 130px;
        font-size: 14px;
        height: 39px;
        line-height: 1;
    }

    .map p {
        font-size: 16px;
        margin-top: 10px;
        line-height: 1.2;
        height: auto;
        padding: 0 20px;
        width: 100%;
    }

    .map img:nth-child(2), .map img:nth-child(3) {
        height: 130px;
        margin-top: 40px;
    }

    .map {
        height: 260px;
    }

    .partner_card {
        width: calc(100%/3 - 1rem)!important;
    }

    .forbes {
        flex-direction: column;
    }

    .forbes img {
        width: 100%;
        height: auto;
    }

    .forbes_txt {
        width: 100%;
    }

    .forbes_txt {
        height: 183px;
    }

    .forbes_txt p {
        padding: 0 30px;
        width: 100%;
        font-size: 10px;
        margin-top: 6px;
        margin-right: 8px;
        background: none;
    }

    .forbes_txt::before {
        display: none;
    }

    .discover {
        width: 100%;
        height: 150px;
        background-size: 100%;
        margin: 0 auto;
        margin-bottom: 2rem;
        margin-top: 30px;
    }

    .txt p {
        font-size: 18px;
        width: 120px;
        margin-bottom: 10px;
    }

    .txt {
        right: 30px;
        top: 28px;
        left: auto;
        width: 120px;
    }

    .txt button {
        width: 118px;
        height: 34px;
        font-size: 14px;
        line-height: 1;
    }

    .footer_list {
        flex-direction: column;
    }

    .footer_bottom {
        margin-right: 0;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer_bottom span {
        margin: 0;
    }

    .header_center {
        width: 100%;
        justify-content: center;
    }

    .header_center ul {
        position: absolute;
        top: 45px;
        left: 0;
        width: 100%;
        height: fit-content;
        flex-direction: column;
        background: #ffff;
        z-index: 1000;
        display: none;
    }

    .show {
        display: flex !important;
    }

    header {
        height: 45px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #ffff;
        z-index: 1000;
    }

    .header_center ul li {
        line-height: 50px;
        border-bottom: 1px solid rgba(204, 204, 204, 0.427);
    }

    .header_center svg {
        height: 26px;
    }

    .mob_btn {
        display: flex;
        position: absolute;
        left: 25px;
        width: 20px;
    }
}

@media (max-width: 544px) {
    .partner_card {
        width: calc(100%/2 - 1rem)!important;
    }

    .partner_cards {
        width: 100%;
    }
}